

$color-primary:#0932c3;
$color-primary--light:#4b66b1;
$color-primary--lighter: #5f90d8;
$color-secondary: #a2a8bb;
$color-secondary--light: #a2b1d1;
$color-secondary--lighter: #eef2f8;
$color-secondary--dark:#353d57;
$color-misc: #c96c4f;
